{% extends "layout.html" %} {% block title %} FirstApp Home Page {% endblock %}
<h1>First App | Home Page</h1>
{% block content %}
<div class="grid grid-cols-3 gap-5 m-4">
  {% for user in users %}
  <div class="" >
    <img class="rounded-md h-44" src="{{user.image.url}}" alt="user_image" />
    <h2 class="text-2xl font-bold">{{user.username}}</h2>
    <h2>{{user.date_added}}</h2>
    <h2>{{user.work_role}}</h2>
    <button
      class="p-4 my-2 font-bold bg-slate-500 hover:bg-slate-700 rounded-sm"
    >
      {{user.id}} - {{user.type}}
    </button>
  </div>
  {% endfor %}
</div>
{% endblock %}
